/* палитра цветов */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

.is-hidden {
  display: none;
}
/* body */
body {
  color: var(--primary-text-color);
  background: var(--primary-white-color);
  font-weight: 400;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* сброс отступа спискам */
/* ul {
  padding-left: 0;
} */

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

/* li */
.li {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.title,
.text {
  margin-top: 0;
  margin-bottom: 0;
}

/* title */
.title {
  color: var(--title-text-color);
}

/* Header */
.header > .container {
  display: flex;
  align-items: center;
}

.logo.header {
  margin-right: 93px;
}

.header .item:not(:last-child) {
  margin-right: 50px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.contact-container {
  display: flex;
  margin-left: auto;
}

/* logo */
.logo {
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.link.logo.accent {
  color: var(--accent-color);
}
.logo .black {
  color: var(--title-text-color);
}

.logo .white {
  color: var(--primary-white-color);
}

/* links header*/

.header.link {
  display: block;

  color: var(--title-text-color);
}

.header.link,
.header.link.contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header.link:hover,
.header.link:focus,
.header.link.contacts:hover,
.header.link.contacts:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-min.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .title {
  display: block;
  padding-top: 200px;

  color: var(--primary-white-color);

  /* height: 120px; */
  /* left: 452px;
  top: 280px; */

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  padding: 10px 32px;
  margin-top: 30px;
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-transform: none;
}

/* advantages */

.advantages .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advanteges-items,
.features-items,
.our-team-items {
  display: flex;
  justify-content: space-between;
}

.advanteges-items .item {
  width: 270px;
}
.advanteges-items .title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.advanteges-items p {
  padding-top: 10px;
}

/* features */

.features .container {
  padding-bottom: 94px;
}

.features .title {
  padding-bottom: 50px;
}

.features .title,
.our-team .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* our team */

.our-team {
  background: #f5f4fa;
}

.our-team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team .title {
  padding-bottom: 50px;
}
.our-team .item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  padding-bottom: 10px;
  padding-top: 30px;

  color: #212121;
}

.our-team .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding-bottom: 30px;
}

/* footer */

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-address {
  color: var(--primary-white-color);
  display: inline-block;
  margin-top: 20px;
}

.link.italic {
  font-style: italic;
}

.us-contact {
  color: rgba(250, 250, 250, 0.6);
  display: inline-block;
  margin-top: 9px;
}

.footer {
  background-color: #2f303a;
}

/* portfolio */

.filter-list {
  display: flex;
  justify-content: center;
  padding-top: 94px;
}

.filter-list .item:not(:last-child) {
  margin-right: 8px;
}

/* .filter-list .item {
  padding-right: 0;
  padding-left: 0;
} */

.button-filter {
  text-align: center;

  padding-right: 0;
  padding-left: 0;

  background: #f5f4fa;
  border-radius: 4px;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;
}

.button-filter:hover,
.button-filter:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #ffffff;
  background-color: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-filter .text {
  display: block;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 94px;
}

.projects .item {
  width: 370px;
  border: 1px solid #eeeeee;
}

.projects .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects .item:not(:nth-child(n + 7)) {
  margin-bottom: 30px;
}

/* .button-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;
} */

/* .button-filter:hover,
.button-filter:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  identical to box height, or 162%

  text-align: center;
  letter-spacing: 0.03em;

  color: #ffffff;
  background-color: var(--accent-color);
} */
.projects .link {
  display: contents;
}
.projects .picture {
  width: 100%;
  margin-bottom: 14px;
}

.projects .title {
  width: 320px;
  margin-bottom: 4px;
  margin-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}

.projects .text {
  width: 320px;
  margin-bottom: 20px;
  margin-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}
